<h1>Listing Invoices</h1>

<p><%= Time.now.strftime("%d %b %Y - %H :%M") %> </p>
 
<table  class="table table-hover">
   <thead>
  <tr>
    <th>Invoice Name</th>
    <th>Notes</th>
  
    <th>Delete</th>
  </tr>
 </thead>
 <tbody>
  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= link_to invoice, invoice_path(invoice) %></td>
     <td><%= link_to invoice.note, edit_invoice_path(invoice) %></td>
     <td><%= link_to 'Delete', invoice_path(invoice),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br>
<%= link_to 'New Invoice', new_invoice_path %>   
<!--delete it, just keep, edit user details -->

