<!-- is this not the same as index? -->
<h2>Invoice Details</h2>
<p>
  <strong>Note:</strong>
  <%= @invoice.note %>
</p>
 

<!--  Form details Rendered 1 element view  -->
<%= render @invoice.form_details %>

<!--  Form details form field -->
<%= render "form_details/form" %>
<!-- i-->

<%= render @invoice.my_details %>
<%= render "my_details/form" %>


<%= render @invoice.clients %>
<%= render "clients/form" %>


<%= render @invoice.services %>
<%= render "services/form" %>

<%= render @invoice.bank_details %>
<%= render "bank_details/form" %>

<%= link_to 'Back', invoices_path %>
<%= link_to 'Edit', edit_invoice_path(@invoice) %>

