
 
<h2>Form Details:</h2>
<%= form_for([@invoice, @invoice.form_detail]) do |f| %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.submit :class => "btn" %>
  </p>
<% end %>
 
